{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns":  "usage",
      "corejs": 3,
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/transform-runtime", {
      "regenerator": true
    }]
  ]
}
