$desktop: 420px;
$font-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

.cookie-box {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $font-base;
  background: #222;
  position: fixed;
  margin: 0;
  z-index: 1001;
  transition: all 0.5s ease;
  width: 100%;
  left: 0;
  bottom: 0;
  letter-spacing: 0;

  &, * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  &.hidden {
    transform: translateY(100%);
  }

  &__inner {
    padding: 15px;

    @media (min-width: $desktop) {
      display: flex;
      align-items: center;
      padding: 25px 15px;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    font-family: $font-base;

    &__inner {
      flex: 1;
    }
  }

  &__icon {
    margin-right: 20px;
    width: 44px;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 44px;
      height: 44px;
      vertical-align: initial;
    }
  }

  &__title {
    font-weight: 700;
    color: currentColor;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 17px;
  }

  &__desc {
    color: currentColor;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: left;

    a {
      color: currentColor;
      text-decoration: underline;
      white-space: nowrap;

      &:hover {
        color: currentColor;
        text-decoration: underline;
      }
    }
  }

  &__buttons {
    @media (min-width: $desktop) {
      padding-left: 15px;
    }
  }

  &__button {
    &, &:hover {
      font-weight: 700;
      display: block;
      border-radius: 24px;
      color: currentColor;
      cursor: pointer;
      font-size: 16px;
      background: transparent;
      border: 2px solid currentColor;
      padding: 10px 20px;
      white-space: nowrap;
      font-family: $font-base;
      text-transform: none;
      height: auto;
    }

    @media (max-width: $desktop) {
      margin: 15px auto 0;
    }

    span {
      margin-right: 5px;
    }

    svg {
      position: relative;
      top: 3px;
    }

    span,
    svg {
      display: inline-block;
    }
  }
}
